--markup markdown
--markup-provider kramdown
--main README.md
--output-dir docs
--protected
--private
--title "Whodunit Chronicles API Documentation"
--readme README.md
--files CHANGELOG.md,LICENSE
lib/**/*.rb
-
README.md
CHANGELOG.md
LICENSE
