--markup markdown
--markup-provider kramdown
--output-dir docs
--exclude spec/
--exclude vendor/
--main README.md
--title "Whodunit API Documentation"
--charset utf-8
lib/**/*.rb
-
README.md
CHANGELOG.md
